html{
    background-color:rgb(181, 207, 239);
    font-size: 20px;
}
h1{
    color:seashell;
}
ul{
    background:pink;
    padding: 10px;
    border: 1px seashell;
}

li{
    margin: left 10px;
}